<% if @messages.present? %>
  <h1>Messages</h1>
  <div class="container messages">
    <% @messages.each do |message| %>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2><%= message.sender %> </h2>
          <p><%= message.title %></p>
          <p><%= message.body.split(/\s+/, 4)[0...3].join(' ') %> ...
            <%= link_to "View details »", message_path(message) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>No messages...</h1>
<% end %>

