<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to One song one chance</h1>
    <p class="lead">This place you can find your friends or make friendship and of course chatting a lot, lot, lot..</p>
    <%= render 'users/form' %>
  </div>
</div>