table.results {
  font-size: 0.8em;
}

.result-card{
	border-top: 1px solid #000;
	padding:10px;
}
.yt-thumbnail
{
	width:140px;
	float: left;
}
.result-card a
{
	color: #167ac6;
	font-weight:bold;
}
.result-card .description
{
	    line-height: 1.3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    font-size:14px;
}
